.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }


.border-gradient-dark-purple {
    border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(160,32,240,1) 50%, rgba(0,0,0,1) 95%);
}

.border-only-top {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.border-only-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


.logo img {
    width: 150px;
    height: 100px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    
}
.first-par
{   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.first-par img
{
    width: 350px;
    height: 350px;
    
}

.second-par
{
    margin-top: 80px;
    background-color: black;
    height: 900px;
    width: 100%;
}

.second-par-header1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}
.second-par-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 200px;
}
.second-par-header2
{
    color: rgba(160,32,240,1);
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;

}


.apply-now-button-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}