//Desktop View

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }


.border-gradient-dark-purple {
    border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(160,32,240,1) 50%, rgba(0,0,0,1) 95%);
}

.border-gradient-dark-purple-vertical
{
    border-image: linear-gradient(to bottom, rgba(2,0,36,1) 5%, rgba(160,32,240,1) 50%, rgba(0,0,0,1) 95%) 1;
}

.border-only-top {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.border-only-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.border-only-right {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.border-only-left {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}


.logo img {
    width: 150px;
    height: 100px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    
}
.first-par
{   
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.first-par img
{
    width: 350px;
    height: 350px;
    
}


.second-par
{
    margin-top: 80px;
    background-color: black;
    height: 900px;
    width: 100%;
}

.second-par-header1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}
.second-par-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 200px;
}
.second-par-header2
{
    color: rgba(160,32,240,1);
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;

}


.apply-now-button-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.third-par {
    margin-top: 90px;
    margin-bottom: 90px;
}

.third-par-section1 {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.third-par-section2 {
    width: calc(50% - 20px);
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}
.third-par::after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    
    background-color: black;
    color: white;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ensure equal space between items */
    align-items: center;
}

.footer-section2 p {
    margin: 0; /* Remove default margins from paragraphs */
}


.footer-section2 {
    font-size: 10px;
    margin-right: 300px;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

.footer-section1 {
    color: rgba(160,32,240,1);
    font-size: 20px;
    margin-right: auto; /* Push section 1 to the left */
    margin-left: 200px;
}









//Mobile  View



.border-gradient-mobile {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
  }


.border-gradient-dark-purple-mobile {
    border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(160,32,240,1) 50%, rgba(0,0,0,1) 95%);
}

.border-gradient-dark-purple-vertical-mobile
{
    border-image: linear-gradient(to bottom, rgba(2,0,36,1) 5%, rgba(160,32,240,1) 50%, rgba(0,0,0,1) 95%) 1;
}

.border-only-top-mobile {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.border-only-bottom-mobile {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.border-only-right-mobile {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.border-only-left-mobile {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}


.logo-mobile img {
    width: 79px;
    height: 60px;
}

.top-menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    

}



.first-par-mobile
{   
    font-size: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-par-img-mobile img
{
    width: 90px;
    height: 90px;
}

.first-par-text-mobile
{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.ml4 {
  
  }
  .ml4 .letters {

  }




.second-par-mobile
{
    margin-top: 40px;
    background-color: black;
    height: 100%;
    width: 100%;
}

.second-par-header1-mobile {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 4px;
}
.second-par-images-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap:90px;
}
.second-par-header2-mobile
{
    color: rgba(160,32,240,1);
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    padding-top: 4px;

}

.apply-now-button-container-mobile
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}



.third-par-mobile {
    margin-top: 9px;
    margin-bottom: 9px;
}

.third-par-section1-mobile {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.third-par-section2-mobile {
    width: calc(50% - 20px);
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 5px; 
}
.third-par-mobile::after {
    content: "";
    display: table;
    clear: both;
}









.footer-mobile {
    
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ensure equal space between items */
    align-items: center;
}

.footer-section2-mobile p {
    margin: 0; /* Remove default margins from paragraphs */
}


.footer-section2-mobile {
    font-size: 8px;
    margin-right: 5px;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

.footer-section1-mobile {
    color: rgba(160,32,240,1);
    font-size: 15px;
    margin-right: auto; /* Push section 1 to the left */
    margin-left: 20px;
}


