
<tui-root>


<mat-card class="border-gradient border-gradient-dark-purple border-only-bottom" style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px; ">


<p style="margin-top: 80px; font-size: 20px;" > <span (click)="goBack()" style="cursor: pointer; text-decoration: underline; ">Home</span> > <span style="font-weight: bold;cursor: pointer;color: rgba(160,32,240,1) ;">Apply</span></p>

    <div class="logo">
        <img  src="../../assets/logo.png" alt="Logo">
    </div>
</mat-card>


<body style="  background-color: black;
background-image: -webkit-linear-gradient(0deg, white 50%, black 50%);
 margin-top: 20px;" >

<div class="main-apply">


    <h1 class="ml4" style="display: flex; flex-direction: column;">
        <span class="letters letters-1">Apply Now!</span>
        <span class="letters letters-2">For Free</span>
        <span class="letters letters-3">And</span>
        <span class="letters letters-4">Give Us</span>
        <span class="letters letters-5">Your Feedback</span>
      </h1>

    <!-- 
          <mat-card style="display: flex;flex-direction: column; margin-left: 0px; margin-top: 80px; padding: 40px;">
       
        <video  controls autoplay width="720"  controls>
            <source src="../../assets/test-video.mkv" type="video/mp4">
            Your browser does not support HTML video.
        </video>

        

            <video  controls width="720"  controls style="">
            <source src="../../assets/video-2.mkv" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    
        
         
                    <iframe src="../../assets/test-video.mkv" width="1440" height="900" frameborder="0" allowfullscreen></iframe>

    </mat-card>
    -->



    <div>
        <form
        class="b-form form-apply"
        [formGroup]="applyForm"
        style="gap: 40px; "
    >

    <div style="display: flex; flex-direction: row; gap: 10px;  justify-content: center;">


        <div>

            <tui-input formControlName="firstNameValue" style="width: 200px;">
                First Name
                <input
                    tuiTextfield
                />
                <span class="tui-required"></span>
            </tui-input>
            <tui-error
                            formControlName="firstNameValue"
                            [error]="[] | tuiFieldError | async"
            ></tui-error>
        </div>


        <div>
            <tui-input  formControlName="lastNameValue"  style="width: 200px;">
                Last Name
                <input
                    tuiTextfield
                />
                <span class="tui-required"></span>
            </tui-input>

            <tui-error
            formControlName="lastNameValue"
            [error]="[] | tuiFieldError | async"
            ></tui-error>

        </div>



    </div>
       
    <div>

        <tui-input formControlName="mailValue" style="width: 410px;">
            Email
            <input
                tuiTextfield
                type="email"
            />
            <span class="tui-required"></span>
        </tui-input>

        <tui-error
        formControlName="mailValue"
        [error]="[] | tuiFieldError | async"
        ></tui-error>

    </div>


    <div>

        <tui-input-password
        formControlName="passwordValue"
        style="width: 410px;"
    >
        Password
        <input
            placeholder="Make it secure!"
            tuiTextfield
        />
        <span class="tui-required"></span>
    </tui-input-password>
    <tui-error
    formControlName="passwordValue"
    [error]="[] | tuiFieldError | async"
    ></tui-error>

    </div>
     
     
    <tui-input-phone-international
    formControlName="phoneNumberValue"
    [countries]="(countries | tuiSortCountries | async) || []"
    [(countryIsoCode)]="countryIsoCode"
>
    Number
</tui-input-phone-international>



    <div>
        <tui-input formControlName="githubUserNameValue" 
        tuiHintContent="It will be used for logging you to the jupyterhub server using Oauth2.0."
        style="width: 410px;">
            Github UserName
            <input
                tuiTextfield
            />
            <span class="tui-required"></span>
        </tui-input>
        <tui-error
        formControlName="githubUserNameValue"
        [error]="[] | tuiFieldError | async"
        ></tui-error>
    </div>

    


        <div class="tui-form__buttons">
            <button
                appearance="custom3"
                size="l"
                tuiButton
                type="submit"
                class="tui-form__button"
            >
                Submit
            </button>
            <button
                (click)="goBack()"
                appearance="custom5"
                
                size="l"
                tuiButton
                type="button"
                class="tui-form__button"
            >
                Cancel
            </button>
        </div>




        
       
        
    </form>
    </div>

    


</div>


</body>

<div class="footer">
    <div class="footer-section1">
        <p>&lt;Devgains/&gt;</p>
    </div>
    <div class="footer-section2">

        <div>
            <p style="margin-bottom: 20px;">© 2025 &lt;Devgains/&gt; Inc.</p>
            <p>by Harkouss Ahmad</p>
        </div>
    
        <div>
            <a href="mailto:support@devgains.com" style="color: #A020F0;">Contact Us</a>
            <p style="margin-top: 20px;">Privacy Policy</p>
        </div>
        
    </div>
    
    
</div>  
</tui-root>